@model IEnumerable<BillingWeb.tblUnit>

@{
    ViewBag.Title = "Index";
}

<h2>Unit</h2>

<div>
    @if (((tblUnit)ViewBag.Unit).UnitID > 0)
    {
        Html.RenderPartial("Edit", (tblUnit)ViewBag.Unit);
    }
    else
    {
        Html.RenderPartial("Create", (tblUnit)ViewBag.Unit);
    }

</div>
@if (TempData["Success"] != null)
            {
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
           @*@(item.IsActive == true ? "Yes" : "No")*@
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUser1.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UnitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UnitID },new { onclick = "return confirm('Are you sure you wish to delete this record?');" })
        </td>
    </tr>
}

</table>
