@model BillingWeb.tblInvoice



@{
    ViewBag.Title = "Create";
}

<h2>Invoice</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <td>
                Invoice No
            </td>
            <td>
                @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </td>
            <td>
                Invoice Type
            </td>
            <td>
                <div>
                    @Html.RadioButtonFor(model => model.InvoiceType, "1", new { onchange = "RedirectToTypeChange('1')" }) Business 
                </div>
                <div>
                    @Html.RadioButtonFor(model => model.InvoiceType, "2", new { onchange = "RedirectToTypeChange('2')" }) Individual
                </div>             
              
            </td>
            <td>
                GSTIN
            </td>
            <td>
                @Html.EditorFor(model => model.GSTIN, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                CustomerName
            </td>
            <td>
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        <tr>
            <td>
                Mobile
            </td>
            <td>@Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>Email</td>
            <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>Website</td>
            <td>@Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>PaymentMode</td>
            <td>@Html.DropDownList("PaymentModeID", null, htmlAttributes: new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>IsOnCredit</td>
            <td>@Html.EditorFor(model => model.IsOnCredit, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>InvoiceDate</td>
            <td>@Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>Payment Exp Dt</td>
            <td>@Html.EditorFor(model => model.PaymentExpectedBy, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>IsPaid</td>
            <td>@Html.EditorFor(model => model.IsPaid, new { htmlAttributes = new { @class = "form-control" } })</td>
           
        </tr>
        <tr>
            <td>BillingAddress</td>
            <td>@Html.EditorFor(model => model.BillingAddress, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>ShippingAddress</td>
            <td>@Html.EditorFor(model => model.ShippingAddress, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.CheckBox("SameBilling")  Shipping as Billing Address </td>           
            <td>Reamrk</td>
            <td colspan="2">@Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
    </table>
    <h2>Invoice Item</h2>
    <div class="form-horizontal">    

        <table class="table" id="InvoiceItem">
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Make
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Size
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    RatePerUnit
                </th>
                <th>
                    Tax(%)
                </th>
                <th>
                    Tax Amount
                </th>
             
            </tr>
            <tr>
                <td> @Html.DropDownList("ProductID", (IEnumerable<SelectListItem>)ViewBag.ProductID, "Select", htmlAttributes: new { @class = "form-control", @onchange = "GetProductDetails()" }) </td>
                <td> @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.DropDownList("UnitID", (IEnumerable<SelectListItem>)ViewBag.UnitID, "Select", htmlAttributes: new { @class = "form-control", @onchange = "FillSize();" }) </td>
                <td> @Html.DropDownList("SizeID", (IEnumerable<SelectListItem>)ViewBag.SizeID, "Select", htmlAttributes: new { @class = "form-control" }) </td>
                <td> @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.EditorFor(model => model.RatePerUnit, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control" } }) @Html.HiddenFor(model => model.TaxID) </td>
                <td> @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @class = "form-control" } })</td>

            </tr>
            <tr>
                <th>
                    Discount(%)
                </th>
                <th>
                    Discount Amount
                </th>
                <th>
                    HSN_SAC
                </th>
                <th>
                    SGST(%)
                </th>
                <th>
                    CGST(%)
                </th>
                <th>
                    Remark
                </th>
                <th>
                    Total
                </th>
            </tr>
            <tr>
                <td> @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.EditorFor(model => model.HSN_SAC, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.EditorFor(model => model.SGST, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.EditorFor(model => model.CGST, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })</td>
                <td> @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Row" name="submit" class="btn btn-default" />
                <input type="submit" value="Delete Row" name="submit" class="btn btn-default" />
                <input type="submit" value="Save Invoice" name="submit" class="btn btn-default" />
                <input type="submit" value="Print Preview" name="submit" class="btn btn-default" />
                <input type="submit" value="Print" name="submit" class="btn btn-default" />
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                Select
            </th>
            <th>
                Product
            </th>
            <th>
                Make
            </th>
            <th>
                Unit
            </th>
            <th>
                Size
            </th>
            <th>
                Quantity
            </th>
            <th>
                RatePerUnit
            </th>
            <th>
                Tax(%)
            </th>
            <th>
                Tax Amount
            </th>
            <th>
                Discount(%)
            </th>
            <th>
                Discount Amount
            </th>
            <th>
                HSN_SAC
            </th>
            <th>
                SGST(%)
            </th>
            <th>
                CGST(%)
            </th>
            <th>
                Remark
            </th>
            <th>
                Total
            </th>

        </tr>
       
        @{ int i = 0;
            foreach (var item in Model.tblInvoiceItems)
            {
        <tr>
            <td> @Html.CheckBox("[" + i + "].IsDeleted", item.IsDeleted) </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblProduct.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblUnit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblSize.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatePerUnit)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSN_SAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SGST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGST)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>

            @Html.Hidden("[" + i + "].ProductID", item.ProductID)

            @Html.Hidden("[" + i + "].ProductName", item.ProductName)
            @Html.Hidden("[" + i + "].Make", item.Make)
            @Html.Hidden("[" + i + "].UnitName", item.UnitName)
            @Html.Hidden("[" + i + "].SizeName", item.SizeName)
            @Html.Hidden("[" + i + "].Quantity", item.Quantity)
            @Html.Hidden("[" + i + "].RatePerUnit", item.RatePerUnit)
            @Html.Hidden("[" + i + "].Tax", item.Tax)
            @Html.Hidden("[" + i + "].TaxAmount", item.TaxAmount)
            @Html.Hidden("[" + i + "].Discount", item.Discount)
            @Html.Hidden("[" + i + "].DiscountAmount", item.DiscountAmount)

            @Html.Hidden("[" + i + "].HSN_SAC", item.HSN_SAC)


            @Html.Hidden("[" + i + "].SGST", item.SGST)


            @Html.Hidden("[" + i + "].CGST", item.CGST)


            @Html.Hidden("[" + i + "].Remark", item.Remark)


            @Html.Hidden("[" + i + "].TotalAmount", item.TotalAmount)
            @Html.Hidden("[" + i + "].UnitID", item.UnitID)
            @Html.Hidden("[" + i + "].SizeID", item.SizeID)
            @Html.Hidden("[" + i + "].TaxID", item.TaxID)

        </tr>
                i++;
            }
        }

    </table>
    <script type="text/javascript">
        function RedirectToTypeChange() {

        }
        function FillSize() {
            var stateId = $("#UnitID").val();
            $.ajax
            ({
                url: '/Invoices/BindSize',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    unitId: +stateId
                }),
                success: function (data) {
                    //  $("#SubCategory").html("");
                    // alert(data);
                    $("#SizeID").html("");
                    var district = '<option value="">Select</option>';
                    for (var i = 0; i < data.length; i++) {
                        district = district + '<option value=' + data[i].val + '>' + data[i].label + '</option>';
                    }
                    // district = district + '</select>';
                    $('#SizeID').html(district);
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
        }
        function GetProductDetails() {
            var stateId = $("#ProductID").val();
            $.ajax
            ({
                url: '/Invoices/GetProductDetails',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    prodID: +stateId
                }),
                success: function (data) {
                    // alert(data.TaxPercentage);

                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
        }
    </script>
            }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
