
@model BillingWeb.tblProduct

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/product.js"></script>
<h2>Product</h2>
@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
   
    <table class="table">
    <tr>
        <td>
            Product Name
        </td>
        <td>Product Category</td>
        <td>Sub Category</td>
        <td>Make</td>
        <td>Unit</td>
    </tr>
        <tr>
            <td>
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>@Html.DropDownList("ProductCategoryID", (IEnumerable<SelectListItem>)ViewBag.ProductCategoryID, "Select", htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.DropDownList("ProductSubCategoryID", (IEnumerable<SelectListItem>)ViewBag.ProductSubCategoryID, "Select", htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.DropDownList("UnitID", (IEnumerable<SelectListItem>)ViewBag.UnitID, "Select", htmlAttributes: new { @class = "form-control" })</td>
        </tr>
        <tr>           
            <td>Size</td>
            <td>RatePerUnit</td>
            <td>Discount</td>
            <td>Tax</td>
            <td>SGST</td>
        </tr>
        <tr>
          
            <td>@Html.DropDownList("SizeID", (IEnumerable<SelectListItem>)ViewBag.SizeID, "Select", htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.EditorFor(model => model.RatePerUnit, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.DropDownList("TaxID", null, htmlAttributes: new { @class = "form-control" })</td>
            <td>@Html.EditorFor(model => model.SGST, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        <tr>           
            <td>CGST</td>
            <td>ProductDescription</td>
            <td colspan="3">Remark</td>
        </tr>
        <tr>           
            <td>@Html.EditorFor(model => model.CGST, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td>@Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })</td>
            <td colspan="3">@Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })</td>
        </tr>
        
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-primary" />
            <input type="button" onclick="location.href='@Url.Action("Index", "Products")'" value="Cancel" class="btn btn-primary" />
        </div>
    </div>
}

