@model IEnumerable<BillingWeb.tblProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProductCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProductSubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUnit.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblSize.SizeName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RatePerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.tblTax.TaxName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SGST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CGST)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblUser1.UserName)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblProductCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblProductSubCategory.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblUnit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblSize.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatePerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.tblTax.TaxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SGST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGST)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tblUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblUser1.UserName)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
