@if (Session["UserDetails"] != null)
{
    tblUser objSource = (tblUser)Session["UserDetails"];
    using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>

                @Html.ActionLink("Hello " + objSource.UserName + "!", "LogOff", "Login", new { area = "" })
            </li>
            <li>
                @Html.ActionLink("Log off", "LogOff", "Login", new { area = "" })

            </li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Login",  new { @class = "navbar-right" })</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Contact Us", "Contact", "Login",  new { @class = "navbar-right" })</li>
          
    </ul>
}
