@model IEnumerable<BillingWeb.tblProductSubCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Product Sub Category</h2>
<div class="detail-box">

    @if (((tblProductSubCategory)ViewBag.SubCategory).ProductSubCategoryID > 0)
    {
        Html.RenderPartial("Edit", (tblProductSubCategory)ViewBag.SubCategory);
    }
    else
    {
        Html.RenderPartial("Create", (tblProductSubCategory)ViewBag.SubCategory);
    }

</div>
@if (TempData["Success"] != null)
            {
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblProductCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblProductCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductSubCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductSubCategoryID })
        </td>
    </tr>
}

</table>
